/* ColorGenerator.css */

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .color-button, .generate-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    width: 150px; /* Ensures all buttons have the same width */
  }
  
  .color-button {
    background-color: #007BFF;
    color: white;
  }
  
  .color-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .generate-button {
    background-color: #28A745;
    color: white;
  }
  
  .generate-button:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
  
  .color-display {
    width: 400px; /* Increased width */
    height: 200px; /* Increased height */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 24px; /* Larger font size */
    color: #fff;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow for better appearance */
    margin: 0 auto; /* Center align */
    padding: 20px;
    text-align: center;
  }
  